.opacity-1 {
  opacity: 1 !important;
}
.opacity-0 {
  opacity: 0 !important;
}
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.text-align-center {
  text-align: center;
}
