/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*BREAKPOINTS*/
:root {
  /*This is the viewport width at which the header navbar is hidden*/
  --headerNavbarHiddenMaxWidth: 991.5px;
}

:root {
  --saia-navbar-min-height: 114px;
  /*ATOMIC TOKENS*/
  /*colors*/
  --gx-saia-color-yellow: #e1ae42;
  --gx-saia-color-pink: #e15d8f;
  --gx-saia-color-pink--subtle: #eebeff;
  --gx-saia-color-purple--200: #985ae5;
  --gx-saia-color-purple--300: #8e55d6;
  --gx-saia-color-purple--900: #180f34;
  --gx-saia-color-gray--100: #f9f9f9;
  --gx-saia-color-gray--200: #e7e9f0;
  --gx-saia-color-gray--400: #b0b1b4;
  --gx-saia-color-black: #1f272b;
  --gx-saia-color-white: #fff;
  --gx-saia-color-overlay: rgba(0, 0, 0, 0.07);
  /*font family*/
  --gx-saia-font-family-texts: Rubik, Helvetica, Arial, sans-serif;
  --gx-saia-font-family-headings: Graphik, Helvetica, Arial, sans-serif;
  --gx-saia-font-size-base: 17px;
  --gx-saia-font-size-s: 14px;
  --gx-saia-font-size-m: 20px;
  --gx-saia-font-size-l: 26px;
  --gx-saia-font-size-xl: 46px;
  --gx-saia-font-size-xxl: 52px;
  --gx-saia-font-size-xxxl: 64px;
  --gx-saia-font-weight-headings: 600;
  --gx-saia-font-weight-medium: 500;
  --gx-saia-font-weight-texts: 300;
  --gx-saia-line-height--tight: 1.2em;
  --gx-saia-line-height--regular: 1.4em;
  --gx-saia-line-height--comfortable: 1.45em;
  --gx-saia-line-height--spaced: 1.6em;
  /*spacing*/
  --gx-saia-space-xxs: 4px;
  --gx-saia-space-xs: 8px;
  --gx-saia-space-s: 16px;
  --gx-saia-space-m: 32px;
  --gx-saia-space-l: 64px;
  --gx-saia-space-xl: 128px;
  /*radius*/
  --gx-saia-radius--xs: 4px;
  --gx-saia-radius--s: 8px;
  --gx-saia-radius--m: 16px;
  --gx-saia-radius--l: 32px;
  /*shadow*/
  --gx-saia-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  /*SEMANTIC TOKENS*/
  --gx-saia-color-text: var(--gx-saia-color-black);
  --gx-saia-section-padding--v: var(--gx-saia-space-xl);
  --gx-saia-container-padding--h: var(--gx-saia-space-m);
  --gx-saia-color-over-purple: var(--gx-saia-color-white);
  --gx-saia-color-focus: var(--gx-saia-color-yellow);
  --gx-saia-color-error: var(--gx-saia-color-pink);
  --gx-saia-focus-width: 3px;
  --gx-saia-color-scrollbar: var(--gx-saia-color-purple--300);
  --gx-saia-color-scrollbar--hover: var(--gx-saia-color-purple--200);
  --gx-saia-color-selection-text: var(--gx-saia-color-white);
  --gx-saia-color-selection-bg: var(--gx-saia-color-black);
  --gx-saia-line: 1px solid rgba(255, 255, 255, 0.75);
}

/*RESPONSIVE*/
@media (max-width: 991.5px) {
  :root {
    --saia-navbar-min-height: 80px;
  }
}
@media (max-width: 767.5px) {
  :root {
    --gx-saia-font-size-xxxl: 52px;
    --gx-saia-font-size-xxl: 46px;
    --gx-saia-font-size-xl: 36px;
    --gx-saia-section-padding--v: var(--gx-saia-space-l);
  }
}
@media (max-width: 575px) {
  :root {
    --gx-saia-container-padding--h: var(--gx-saia-space-s);
    --gx-saia-font-size-xxxl: 46px;
    --gx-saia-font-size-xxl: 36px;
    --gx-saia-font-size-xl: 26px;
  }
}
#saia .hide {
  display: none !important;
}
@media (max-width: 1199px) {
  #saia .hide--desktop {
    display: none !important;
  }
}
@media (max-width: 991.5px) {
  #saia .hide--small-desktop {
    display: none !important;
  }
}
@media (max-width: 767.5px) {
  #saia .hide--tablet {
    display: none !important;
  }
}
@media (max-width: 575px) {
  #saia .hide--mobile {
    display: none !important;
  }
}
#saia .pt-0 {
  padding-top: 0 !important;
}
#saia .pb-0 {
  padding-bottom: 0 !important;
}
#saia .saia-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gx-saia-space-s);
  align-items: flex-start;
}
#saia .saia-wrapper--max-width {
  max-width: 700px;
  margin: 0 auto;
}
#saia .text-bigger {
  font-size: var(--gx-saia-font-size-m);
}
#saia .text-center {
  text-align: center;
  align-items: center;
}
#saia .text-strong {
  font-weight: var(--gx-saia-font-weight-medium);
  font-size: var(--gx-saia-font-size-m);
  font-family: var(--gx-saia-font-family-headings);
  line-height: var(--gx-saia-line-height--comfortable);
}
@media (max-width: 767.5px) {
  #saia .text-strong {
    font-size: var(--gx-saia-font-size-m);
  }
}
#saia .no-line-height {
  line-height: 0;
}
#saia .animate {
  transition: 200ms all;
  transform: scale(1, 1);
  opacity: 1;
}
#saia .animate--hidden {
  opacity: 0;
  transform: scale(0.8, 0.8);
}
#saia .cols {
  display: flex;
  gap: var(--gx-saia-space-l);
}
#saia .cols > * {
  flex: 0 0 calc(50% - var(--gx-saia-space-l) / 2);
}
@media (max-width: 991.5px) {
  #saia .cols {
    flex-direction: column;
  }
  #saia .cols > * {
    flex: 0 0 100%;
  }
}
#saia .cols--asymmetric .cols__left {
  flex: 0 0 calc(40% - var(--gx-saia-space-l) / 2);
}
#saia .cols--asymmetric .cols__right {
  flex: 0 0 calc(60% - var(--gx-saia-space-l) / 2);
}
@media (max-width: 1199px) {
  #saia .cols--asymmetric {
    flex-direction: column;
  }
  #saia .cols--asymmetric > * {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
#saia .text-color-light {
  color: var(--gx-saia-color-white);
}
#saia .text-color-dark {
  color: var(--gx-saia-color-black);
}
#saia .grid {
  display: grid;
  grid-gap: var(--gx-saia-space-m);
}
#saia .grid--2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#saia .grid--2x2 .item1 {
  grid-area: 1/1/2/2;
}
#saia .grid--2x2 .item2 {
  grid-area: 1/2/2/3;
}
#saia .grid--2x2 .item3 {
  grid-area: 2/1/3/2;
}
#saia .grid--2x2 .item4 {
  grid-area: 2/2/3/3;
}
@media (max-width: 767.5px) {
  #saia .grid--2x2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  #saia .grid--2x2 {
    grid-gap: var(--gx-saia-space-s);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--gx-saia-font-size-base) !important;
  color: var(--gx-saia-color-black) !important;
  font-family: var(--gx-saia-font-family-texts) !important;
  line-height: var(--gx-saia-line-height--spaced) !important;
  font-weight: var(--gx-saia-font-weight-texts) !important;
}

#saia {
  overflow-x: hidden;
  transition: 350ms opacity;
  opacity: 1;
  /*SELECTION COLOR*/
}
#saia.saia-hidden {
  opacity: 0;
}
#saia ::-moz-selection {
  /* Code for Firefox */
  -webkit-text-fill-color: var(--gx-saia-color-selection-text);
  background-color: var(--gx-saia-color-selection-bg);
  color: var(--gx-saia-color-selection-text);
}
#saia ::selection {
  -webkit-text-fill-color: var(--gx-saia-color-selection-text);
  background-color: var(--gx-saia-color-selection-bg);
  color: var(--gx-saia-color-selection-text);
}

a {
  color: inherit;
}

/**SCROLLBAR/
  /* width */
*::-webkit-scrollbar {
  width: var(--gx-saia-space-xs);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: var(--gx-saia-color-scrollbar);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--gx-saia-color-scrollbar--hover);
}

#saia {
  /*TITLES*/
  /*CONTAINER*/
  /*BUTTON*/
  /*CARD*/
  /*IMAGES*/
  /*OTHER*/
  /*RESPONSIVE*/
}
#saia h1,
#saia .h1,
#saia h2,
#saia .h2,
#saia h3,
#saia .h3,
#saia h4,
#saia .h4,
#saia h5,
#saia .h5,
#saia h6,
#saia .h5 {
  font-family: var(--gx-saia-font-family-headings);
  font-weight: var(--gx-saia-font-weight-headings);
  line-height: var(--gx-saia-line-height--tight);
}
#saia .h1 {
  font-size: var(--gx-saia-font-size-xxxl);
}
#saia .h2 {
  font-size: var(--gx-saia-font-size-xxl);
}
#saia .h3 {
  font-size: var(--gx-saia-font-size-xl);
}
#saia .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 var(--gx-saia-container-padding--h);
}
#saia .button {
  border: none;
  max-width: 250px;
  min-width: 150px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: inherit;
  font-family: var(--gx-saia-font-family-texts);
  background-color: var(--gx-saia-color-purple--200);
  color: var(--gx-saia-color-white);
  padding: var(--gx-saia-space-s) var(--gx-saia-space-m);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  text-decoration: none;
  font-weight: var(--gx-saia-font-weight-medium);
}
#saia .button:hover {
  background-color: var(--gx-saia-color-purple--300);
}
#saia .card {
  box-sizing: border-box;
  box-shadow: var(--gx-saia-shadow);
  border-radius: var(--gx-saia-radius--m);
  padding: var(--gx-saia-space-m);
  color: var(--gx-saia-color-black);
}
#saia .card--purple-300 {
  background-color: var(--gx-saia-color-purple--300);
}
#saia .card__title {
  font-size: var(--gx-saia-font-size-m);
  line-height: var(--gx-saia-line-height--comfortable);
}
#saia img {
  max-width: 100%;
}
#saia small {
  display: inline-block;
  font-size: calc(var(--gx-saia-font-size-base) * 0.75);
  line-height: var(--gx-saia-line-height--spaced);
}
#saia *:focus {
  outline: var(--gx-saia-focus-width) solid var(--gx-saia-color-focus);
}
#saia hr {
  border: 0;
  border-bottom: var(--gx-saia-line);
  margin: 0;
}
@media (max-width: 1199px) {
  #saia .container {
    max-width: 960px;
  }
}
@media (max-width: 991.5px) {
  #saia .container {
    max-width: 720px;
  }
}
@media (max-width: 767.5px) {
  #saia .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  #saia .container {
    max-width: 100%;
  }
  #saia .card {
    padding: var(--gx-saia-space-s);
  }
}

#saia {
  /*SECTION*/
  /*CONNECTIONS/DOTS*/
  /*CORE STRENGTH*/
  /*CORE STRENGTH*/
  /*EMPOWER USERS*/
  /*GET IN TOUCH*/
}
#saia .section {
  scroll-margin-top: var(--saia-navbar-min-height);
  background-color: var(--gx-saia-color-white);
  color: var(--gx-saia-color-text);
  padding: var(--gx-saia-section-padding--v) 0;
  /*purple*/
}
#saia .section--purple-200 {
  --gx-saia-color-text: var(--gx-saia-color-over-purple);
  background-color: var(--gx-saia-color-purple--200);
}
#saia .section--purple-300 {
  --gx-saia-color-text: var(--gx-saia-color-over-purple);
  background-color: var(--gx-saia-color-purple--300);
}
#saia .section--purple-900 {
  --gx-saia-color-text: var(--gx-saia-color-over-purple);
  background-color: var(--gx-saia-color-purple--900);
  --gx-saia-color-selection-bg: var(--gx-saia-color-white);
  --gx-saia-color-selection-text: var(--gx-saia-color-black);
}
#saia .section--gray-100 {
  --gx-saia-color-text: var(--gx-saia-color-over-black);
  background-color: var(--gx-saia-color-gray--100);
}
#saia .section--no-padding {
  padding: 0;
}
#saia .step {
  display: block;
  width: 4px;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(225, 227, 230);
}
#saia .step--start {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  margin-top: var(--gx-saia-space-s);
  background: rgb(225, 227, 230);
  background: linear-gradient(180deg, rgb(225, 227, 230) 0%, rgba(225, 227, 230, 0.502416687) 75%, rgba(225, 227, 230, 0) 100%);
}
#saia .step--end {
  background: rgb(225, 227, 230);
  background: linear-gradient(360deg, rgb(225, 227, 230) 0%, rgba(225, 227, 230, 0.502416687) 75%, rgba(225, 227, 230, 0) 100%);
}
#saia .step--complete {
  margin-top: var(--gx-saia-space-m);
  height: 200px;
  background: rgb(225, 227, 230);
}
@media (max-width: 575px) {
  #saia .step--complete {
    height: 100px;
  }
}
#saia .dot {
  display: block;
  margin: 0 auto;
  width: var(--gx-saia-font-size-xxxl);
  height: var(--gx-saia-font-size-xxxl);
  background-color: var(--gx-saia-color-gray--200);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--gx-saia-space-m);
}
#saia .dot::after {
  border-radius: 100%;
  content: "";
  display: block;
  width: calc(var(--gx-saia-font-size-xxxl) * 0.75);
  height: calc(var(--gx-saia-font-size-xxxl) * 0.75);
  background-color: var(--gx-saia-color-white);
  box-shadow: var(--gx-saia-shadow);
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
#saia #benefits .card {
  min-height: 240px;
}
@media (max-width: 767.5px) {
  #saia #benefits .card {
    min-height: 120px;
  }
}
@media (max-width: 767.5px) {
  #saia #benefits .card {
    min-height: 150px;
  }
}
#saia .main-footer {
  border-top: var(--gx-saia-line);
  /*Back to top arrow*/
  position: relative;
}
#saia .main-footer__wrapper {
  box-sizing: border-box;
  min-height: var(--saia-navbar-min-height);
  padding: var(--gx-saia-space-s) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gx-saia-space-m);
}
#saia .main-footer__wrapper > * {
  display: flex;
  align-items: center;
}
@media (max-width: 767.5px) {
  #saia .main-footer__wrapper {
    flex-direction: column;
    align-items: baseline;
    gap: var(--gx-saia-space-xs);
  }
}
#saia .main-footer__logo {
  max-width: 120px;
}
@media (max-width: 767.5px) {
  #saia .main-footer__logo {
    max-width: 80px;
  }
  #saia .main-footer .card {
    min-height: 0;
  }
}
#saia .main-footer #back-to-top {
  cursor: pointer;
  position: absolute;
  right: var(--gx-saia-space-m);
  top: calc((var(--gx-saia-space-m) + var(--gx-saia-space-m)) * -1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: var(--gx-saia-space-m);
  height: var(--gx-saia-space-m);
  background-color: var(--gx-saia-color-purple--200);
  color: var(--gx-saia-color-white);
  transform: scale(1, 1);
  transition: 100ms transform;
}
#saia .main-footer #back-to-top:hover {
  transform: scale(1.25, 1.25);
}
@media (max-width: 767.5px) {
  #saia .main-footer {
    flex-direction: column;
    gap: var(--gx-saia-space-xs);
    align-items: baseline;
  }
}
#saia #about-us .main-title {
  background: linear-gradient(90deg, var(--gx-saia-color-purple--900) 3.49%, var(--gx-saia-color-purple--300) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 500px;
}
#saia #about-us .cols__left {
  padding: 160px 0;
  align-items: center;
}
#saia #about-us .cols__right {
  display: flex;
  align-items: end;
  justify-content: center;
}
@media (max-width: 1199px) {
  #saia #about-us .cols__left {
    padding: 120px 0;
    align-items: center;
  }
}
@media (max-width: 991.5px) {
  #saia #about-us .cols__left {
    padding: 80px 0 40px 0;
  }
}
@media (max-width: 575px) {
  #saia #about-us .main-title {
    max-width: 300px;
  }
  #saia #about-us .cols__left {
    padding: var(--gx-saia-section-padding--v) 0 0 0;
  }
}
#saia #get-in-touch .form-not-displayed {
  text-align: center;
  max-width: 440px;
  margin: 0 auto;
  font-size: var(--gx-saia-font-size-m);
  padding: var(--gx-saia-space-s);
  border: 4px solid var(--gx-saia-color-error);
}
@media (max-width: 767.5px) {
  #saia #get-in-touch .title {
    max-width: 100%;
  }
}

#saia .header {
  /*VARIABLES*/
  --header-transition-duration: 200ms;
  --header-children-min-height: 55px;
  --header-container-margin-top: calc(
    (var(--saia-navbar-min-height) - var(--header-children-min-height)) / 2
  );
  --header-list-margin-top: var(--gx-saia-space-s);
  --header-item-animation-duration: 300ms;
  --header-center-animation-delay: 0s;
  --header-right-animation-delay: var(--header-item-animation-duration);
  /*animation: name | duration | timing-function | delay | iteration-count | direction | fill-mode | play-state;*/
  /* /VARIABLES*/
  padding-top: calc(var(--gx-saia-section-padding--v) + var(--saia-navbar-min-height));
  position: relative;
  /*BURGER*/
  /*ANIMATIONS*/
  /* /ANIMATIONS*/
  /*RESPONSIVE*/
  /*tablet and above*/
}
#saia .header--thinner .header__right {
  display: flex;
}
@media (min-width: 991.6px) {
  #saia .header .header__center {
    z-index: 10;
    position: absolute;
    right: var(--gx-saia-container-padding--h);
    animation: headerCenterAnimateRight var(--header-item-animation-duration) ease var(--header-right-animation-delay) 1 backwards;
  }
  #saia .header .header__right {
    opacity: 0;
    animation: headerRightAnimateHide var(--header-item-animation-duration) ease 1 forwards;
  }
}
@media (min-width: 991.6px) {
  #saia .header--thinner .header__center {
    animation: headerCenterAnimateCenter var(--header-item-animation-duration) ease 1 forwards;
  }
  #saia .header--thinner .header__right {
    animation: headerRightAnimateShow var(--header-item-animation-duration) ease var(--header-right-animation-delay) 1 forwards;
  }
}
#saia .header__outer-container {
  min-height: var(--saia-navbar-min-height);
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--gx-saia-color-purple--900);
  z-index: 10;
  border-bottom: var(--gx-saia-line);
  transition: var(--header-transition-duration) min-height;
}
#saia .header__outer-container--hidden-items .header__center:not(.active),
#saia .header__outer-container--hidden-items .header__right {
  visibility: hidden;
}
#saia .header__inner-container {
  opacity: 1;
  transition: var(--header-transition-duration) all;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gx-saia-space-m);
  flex-wrap: wrap;
  margin-top: var(--header-container-margin-top);
}
#saia .header__inner-container--hidden {
  opacity: 0;
}
@media (max-width: 991.5px) {
  #saia .header__inner-container__center {
    min-height: 0;
  }
}
#saia .header__left, #saia .header__center, #saia .header__right {
  opacity: 1;
  min-height: var(--header-children-min-height);
  display: flex;
  align-items: center;
}
#saia .header__left--hidden, #saia .header__center--hidden, #saia .header__right--hidden {
  opacity: 0;
}
#saia .header__left {
  gap: var(--gx-saia-space-m);
  order: 1;
}
#saia .header__center {
  order: 2;
}
@media (max-width: 991.5px) {
  #saia .header__center {
    min-height: 0;
  }
}
#saia .header__right {
  order: 3;
}
@media (max-width: 991.5px) {
  #saia .header__right {
    display: flex;
  }
}
#saia .header__langs {
  padding: var(--gx-saia-space-xs);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--gx-saia-space-s);
}
#saia .header__langs .lang {
  opacity: 1;
  transition: 200ms opacity;
}
#saia .header__langs .lang--selected {
  opacity: 1;
}
#saia .header__langs[data-current-lang=en] *[data-lang=es] {
  opacity: 0.5;
}
#saia .header__langs[data-current-lang=es] *[data-lang=en] {
  opacity: 0.5;
}
#saia .header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#saia .header__nav.active {
  grid-template-rows: 1fr;
}
#saia .header__nav.active .header__list {
  animation-fill-mode: forwards;
  animation-name: navToggle;
  animation-duration: 300ms;
}
#saia .header__logo {
  width: 140px;
}
#saia .header__list {
  display: flex;
  align-items: center;
  gap: var(--gx-saia-space-m);
  transition: opacity 200ms;
}
@media (max-width: 1199px) {
  #saia .header__list {
    gap: var(--gx-saia-space-s);
  }
}
#saia .header__list-item {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: var(--gx-saia-focus-width);
}
#saia .header__list-item--hovered .header__list-line {
  transform: translateX(0%);
}
#saia .header__list-item--animated .header__list-line {
  transform: translateX(105%);
}
#saia .header__list-item--no-transition .header__list-line {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#saia .header__list-line {
  transform: translateX(calc(-100% - var(--gx-saia-focus-width) - 2px));
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gx-saia-color-over-purple);
  position: absolute;
  bottom: 1px;
  transition: 0.25s transform;
}
#saia .header__list-link {
  text-decoration: none;
  color: inherit;
}
#saia .header__list-link:focus + .header__list-line {
  display: none;
}
#saia .header__burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
}
#saia .header__burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: var(--gx-saia-color-over-purple);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#saia .header__burger-line:nth-child(1) {
  top: 0;
}
#saia .header__burger-line:nth-child(2), #saia .header__burger-line:nth-child(3) {
  top: 0.5rem;
}
#saia .header__burger-line:nth-child(4) {
  top: 1rem;
}
#saia .header__burger.active .header__burger-line:nth-child(1), #saia .header__burger.active .header__burger-line:nth-child(4) {
  top: 1.25rem;
  width: 0%;
  left: 50%;
}
#saia .header__burger.active .header__burger-line:nth-child(2) {
  transform: rotate(45deg);
}
#saia .header__burger.active .header__burger-line:nth-child(3) {
  transform: rotate(-45deg);
}
#saia .header .saia-wrapper {
  max-width: 640px;
}
#saia .header .saia-wrapper .button {
  margin-top: var(--gx-saia-space-s);
}
#saia .header .curved-lines {
  height: 390px;
  width: 560px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-mask-image: url(https://www.genexus.com/media/images/saia-curved-lines.svg);
  mask-image: url(https://www.genexus.com/media/images/saia-curved-lines.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}
#saia .header .curved-lines:after {
  content: "";
  display: block;
  width: 150%;
  height: 200%;
  position: absolute;
  transform: rotate(0deg);
  background-image: linear-gradient(35deg, hsl(267, 67%, 73%) 0%, hsl(267, 65%, 70%) 20%, hsl(267, 64%, 67%) 29%, hsl(267, 63%, 64%) 36%, hsl(267, 62%, 62%) 43%, hsl(267, 61%, 59%) 50%, hsl(264, 44%, 49%) 57%, hsl(262, 44%, 40%) 64%, hsl(259, 46%, 30%) 71%, hsl(257, 49%, 22%) 80%, hsl(255, 55%, 13%) 100%);
  left: auto;
  top: -150px;
  right: -160px;
  position: absolute;
  animation-name: curvedLinesGradient;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@media (max-width: 1199px) {
  #saia .header .curved-lines {
    height: 270px;
    width: 430px;
  }
  #saia .header .curved-lines:after {
    width: 160%;
    height: 280%;
  }
}
@media (max-width: 991.5px) {
  #saia .header .curved-lines {
    height: 210px;
    width: 327px;
  }
  #saia .header .curved-lines:after {
    width: 160%;
    height: 280%;
  }
}
@media (max-width: 767.5px) {
  #saia .header .curved-lines {
    display: none;
  }
}
@keyframes curvedLinesGradient {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes navToggle {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  33% {
    opacity: 0;
    margin: var(--header-list-margin-top) 0 var(--header-container-margin-top) 0;
  }
  66% {
    opacity: 0.5;
    margin: var(--header-list-margin-top) 0 var(--header-container-margin-top) 0;
  }
  100% {
    opacity: 1;
    margin: var(--header-list-margin-top) 0 var(--header-container-margin-top) 0;
  }
}
@keyframes headerItemShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes headerCenterAnimateRight {
  0% {
    right: 50%;
    transform: translateX(50%);
  }
  100% {
    right: var(--gx-saia-container-padding--h);
    transform: translateX(0);
  }
}
@keyframes headerCenterAnimateCenter {
  0% {
    right: var(--gx-saia-container-padding--h);
    transform: translateX(0);
  }
  100% {
    right: 50%;
    transform: translateX(50%);
  }
}
@keyframes headerRightAnimateInitial {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes headerRightAnimateShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes headerRightAnimateHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 991.5px) {
  #saia .header__inner-container {
    gap: 0;
  }
  #saia .header__nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
    overflow: hidden;
    width: 100%;
  }
  #saia .header__nav .header__list {
    overflow: hidden;
    flex-direction: column;
    opacity: 0;
    gap: var(--gx-saia-space-xs);
    align-items: start;
  }
  #saia .header__left {
    order: 1;
  }
  #saia .header__center {
    order: 3;
    width: 100%;
  }
  #saia .header__right {
    order: 2;
  }
  #saia .header__burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  #saia .header__list {
    opacity: 0;
    margin-top: 0;
  }
  #saia .header .saia-wrapper .button {
    margin-top: var(--gx-saia-space-s);
  }
}
@media (max-width: 767.5px) {
  #saia .header {
    --header-list-margin-top: var(--gx-saia-space-xxs);
  }
  #saia .header__logo {
    width: 105px;
  }
}
@media (min-width: 991.6px) {
  #saia .header__list {
    margin: 0 !important;
  }
}

#saia #get-in-touch .cols__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
#saia #get-in-touch .cols__right .submitted-message {
  color: var(--gx-saia-color-pink--subtle);
  text-align: center;
}
#saia .hbspt-form {
  flex: 1;
  /*grid*/
  /*grid*/
  /*styles*/
}
#saia .hbspt-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: var(--gx-saia-space-m);
}
#saia .hbspt-form .hs_firstname {
  grid-area: 1/1/2/2;
}
#saia .hbspt-form .hs_lastname {
  grid-area: 1/2/2/3;
}
#saia .hbspt-form .hs_email {
  grid-area: 2/1/3/2;
}
#saia .hbspt-form .hs_country {
  grid-area: 2/2/3/3;
}
#saia .hbspt-form .hs_message {
  grid-area: 3/1/4/3;
}
#saia .hbspt-form .legal-consent-container {
  grid-area: 4/1/5/3;
}
#saia .hbspt-form .hs_recaptcha {
  grid-area: 5/1/6/2;
  margin-top: 0;
}
#saia .hbspt-form .hs_submit {
  grid-area: 5/2/6/3;
  display: flex;
  align-items: end;
  justify-content: end;
}
@media (max-width: 767.5px) {
  #saia .hbspt-form form {
    display: flex;
    flex-direction: column;
    gap: var(--gx-saia-space-s);
  }
  #saia .hbspt-form .hs_submit {
    margin-top: var(--gx-saia-space-m);
    justify-content: start;
  }
}
#saia .hbspt-form label span {
  font-weight: 500;
}
#saia .hbspt-form .hs-input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent !important;
  color: inherit;
  font-size: inherit;
  border: 1px solid var(--gx-saia-color-text);
  font-family: var(--gx-saia-font-family-texts);
  padding: var(--gx-saia-space-s);
  float: none;
  /*remove select arrow*/
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  /*/remove select arrow*/
  /*select*/
}
#saia .hbspt-form .hs-input::placeholder {
  color: var(--gx-saia-color-gray--400);
}
#saia .hbspt-form .hs-input:focus {
  border-color: var(--gx-saia-color-focus);
}
#saia .hbspt-form .hs-input.invalid {
  border-color: var(--gx-saia-color-focus);
}
#saia .hbspt-form .hs-input[type=checkbox] {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 24px;
  height: 24px;
  border: 1px solid var(--gx-saia-color-text);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  box-sizing: border-box;
  padding: var(--gx-saia-space-xs);
}
#saia .hbspt-form .hs-input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--gx-saia-color-purple--300);
}
#saia .hbspt-form .hs-input:checked::before {
  transform: scale(1);
}
#saia .hbspt-form .hs-input option {
  width: 50px;
  min-width: 0;
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--gx-saia-color-purple--900);
}
#saia .hbspt-form .hs-input option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}
#saia .hbspt-form .hs-fieldtype-textarea {
  min-height: 200px;
  line-height: var(--gx-saia-line-height--spaced);
}
#saia .hbspt-form .hs-form-field {
  display: flex;
  flex-direction: column;
  gap: var(--gx-saia-space-xs);
}
#saia .hbspt-form .hs-error-msg {
  color: var(--gx-saia-color-focus);
}
#saia .hbspt-form .hs-form-booleancheckbox-display {
  display: flex;
}
#saia .hbspt-form .hs-form-booleancheckbox-display .hs-input {
  flex: 0;
}
#saia .hbspt-form .hs-form-booleancheckbox-display span {
  font-weight: inherit;
}
#saia .hbspt-form .hs-button {
  border: none;
  max-width: 250px;
  min-width: 150px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: inherit;
  font-family: var(--gx-saia-font-family-texts);
  background-color: var(--gx-saia-color-purple--200);
  color: var(--gx-saia-color-white);
  padding: var(--gx-saia-space-s) var(--gx-saia-space-m);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  text-decoration: none;
  font-weight: var(--gx-saia-font-weight-medium);
}
#saia .hbspt-form .hs-button:hover {
  background-color: var(--gx-saia-color-purple--300);
}

nav.region,
footer.region {
  display: none !important;
}

/*# sourceMappingURL=saia-styles.css.map */
