.dummy-header {
  background-image: url(./assets/images/dummy-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.dummy-footer {
  background-color: #f5f5f5;
  height: 400px;
  padding: 32px;
}
/*MOBILE*/
body.gx-mobile-device .dummy-header {
  height: 300px;
  background-position: center center;
}
body.gx-mobile-device .dummy-header {
  height: 500px;
}
.paragraph {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 500;
  font-family: Graphik;
  margin-bottom: 16px !important;
  order: 3;
}
.sector {
  margin: 36px auto 36px auto;
}
.viewport {
  display: block !important;
  /*padding: 0 36px;*/
}
