#header-filter {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box !important;
}
.dummy-header {
  background-image: url(../images/dummy-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.dummy-footer {
  background-color: #f5f5f5;
  height: 400px;
  padding: 32px;
}
/*MOBILE*/
body.gx-mobile-device .dummy-header {
  height: 300px;
  background-position: center center;
}
body.gx-mobile-device .dummy-header {
  height: 500px;
}
.paragraph {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 500;
  font-family: Graphik;
  margin-bottom: 16px !important;
  order: 3;
}
.sector {
  margin: 36px auto 36px auto;
}
.viewport {
  display: block !important;
  /*padding: 0 36px;*/
}
.sector.I128439 {
  /*simulate gx-portal sector lateral padding*/
  /* padding-inline-start: 32px;
  padding-inline-end: 32px; */
  box-sizing: border-box;
}
.actions-container {
  position: fixed;
  left: 8px;
  top: 8px;
}
