body {
  font-size: var(--gx-saia-font-size-base) !important;
  color: var(--gx-saia-color-black) !important;
  font-family: var(--gx-saia-font-family-texts) !important;
  line-height: var(--gx-saia-line-height--spaced) !important;
  font-weight: var(--gx-saia-font-weight-texts) !important;
}
/**SCROLLBAR/
  /* width */
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--gx-saia-color-scrollbar);
  border-radius: 10px;
}
#saia {
  /*TITLES*/
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h5 {
    font-family: var(--gx-saia-font-family-headings);
    font-weight: var(--gx-saia-font-weight-headings);
    line-height: var(--gx-saia-line-height--tight);
  }
  .h1 {
    font-size: var(--gx-saia-font-size-xxxl);
  }
  .h2 {
    font-size: var(--gx-saia-font-size-xxl);
  }
  .h3 {
    font-size: var(--gx-saia-font-size-xl);
  }
  /*CONTAINER*/
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 var(--gx-saia-container-padding--h);
  }
  /*BUTTON*/
  .button {
    border: none;
    max-width: 250px;
    min-width: 150px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: inherit;
    font-family: var(--gx-saia-font-family-headings);
    background-color: var(--gx-saia-color-purple--200);
    color: var(--gx-saia-color-white);
    padding: var(--gx-saia-space-s) var(--gx-saia-space-m);
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--gx-saia-color-purple--300);
    }
  }
  /*SELECTION COLOR*/
  ::-moz-selection {
    /* Code for Firefox */
    background-color: var(--gx-saia-color-purple--200);
    color: var(--gx-saia-color-black);
  }
  ::selection {
    background-color: var(--gx-saia-color-purple--200);
    color: var(--gx-saia-color-black);
  }

  /*CARD*/
  .card {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: var(--gx-saia-radius--m);
    padding: var(--gx-saia-space-m);
    color: var(--gx-saia-color-black);
    &--purple-300 {
      background-color: var(--gx-saia-color-purple--300);
    }
    &__title {
      font-size: var(--gx-saia-font-size-l);
      line-height: var(--gx-saia-line-height--comfortable);
    }
  }

  /*IMAGES*/
  img {
    max-width: 100%;
  }

  /*RESPONSIVE*/
  @include max-width(desktop) {
    .container {
      max-width: 960px;
    }
  }
  @include max-width(small-desktop) {
    .container {
      max-width: 720px;
    }
  }
  @include max-width(tablet) {
    .container {
      max-width: 540px;
    }
  }
  @include max-width(mobile) {
    .container {
      max-width: 100%;
    }
    .card {
      padding: var(--gx-saia-space-s);
    }
  }
}
