/*BREAKPOINTS*/
$desktopMax: 1199px;
$smallDesktopMax: 991px;
$tabletMax: 767px;
$tabletMin: 768px;
$mobileMax: 575px;

@mixin max-width($breakpoint, $min: false) {
  @if ($breakpoint == desktop) {
    @media (max-width: $desktopMax) {
      @content;
    }
  } @else if ($breakpoint == small-desktop) {
    @media (max-width: $smallDesktopMax) {
      @content;
    }
  } @else if ($breakpoint == tablet) {
    @if $min {
      @media (min-width: $tabletMin) {
        @content;
      }
    } @else {
      @media (max-width: $tabletMax) {
        @content;
      }
    }
  } @else if ($breakpoint == mobile) {
    @media (max-width: $mobileMax) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}
