#saia {
  /*SECTION*/
  .section {
    background-color: var(--gx-saia-color-white);
    color: var(--gx-saia-color-text);
    padding: var(--gx-saia-section-padding--v) 0;
    /*purple*/
    &--purple {
      &-200 {
        --gx-saia-color-text: var(--gx-saia-color-over-purple);
        background-color: var(--gx-saia-color-purple--200);
      }
      &-300 {
        --gx-saia-color-text: var(--gx-saia-color-over-purple);
        background-color: var(--gx-saia-color-purple--300);
      }
      &-900 {
        --gx-saia-color-text: var(--gx-saia-color-over-purple);
        background-color: var(--gx-saia-color-purple--900);
        --gx-saia-color-selection-bg: var(--gx-saia-color-white);
        --gx-saia-color-selection-text: var(--gx-saia-color-black);
      }
    }
    &--gray {
      &-100 {
        --gx-saia-color-text: var(--gx-saia-color-over-black);
        background-color: var(--gx-saia-color-gray--100);
      }
    }
    &--no-padding {
      padding: 0;
    }
  }

  /*CONNECTIONS/DOTS*/
  $stepMargin: var(--gx-saia-space-m);
  .step {
    display: block;
    $lineWidth: 4px;
    $lineHeight: 100px;
    $lineColor: rgb(225, 227, 230);
    $lineColorGradient: rgba(225, 227, 230, 1) 0%,
      rgba(225, 227, 230, 0.5024166870117188) 75%, rgba(225, 227, 230, 0) 100%;
    width: $lineWidth;
    height: $lineHeight;
    margin: 0 auto;
    background-color: $lineColor;
    &--start {
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      margin-top: var(--gx-saia-space-s);
      background: $lineColor;
      background: linear-gradient(180deg, $lineColorGradient);
    }
    &--end {
      background: $lineColor;
      background: linear-gradient(360deg, $lineColorGradient);
    }
    &--complete {
      margin-top: $stepMargin;
      height: calc($lineHeight * 2);
      background: $lineColor;
    }
  }
  .dot {
    $size: var(--gx-saia-font-size-xxxl);
    display: block;
    margin: 0 auto;
    width: $size;
    height: $size;
    background-color: var(--gx-saia-color-gray--200);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $stepMargin;
    &::after {
      border-radius: 100%;
      content: "";
      display: block;
      width: calc($size * 0.75);
      height: calc($size * 0.75);
      background-color: var(--gx-saia-color-white);
      box-shadow: var(--gx-saia-shadow);
    }
  }

  /*CORE STRENGTH*/
  #core-strength {
    .card {
      min-height: 240px;
    }
  }

  /*CORE STRENGTH*/
  .main-footer {
    padding: var(--gx-saia-font-size-m) var(--gx-saia-font-size-m) 96px
      var(--gx-saia-font-size-m);
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
    }
    &__logo {
      max-width: 120px;
    }
  }

  /*EMPOWER USERS*/
  #empower-users {
    .main-title {
      background: linear-gradient(
        90deg,
        var(--gx-saia-color-purple--900) 3.49%,
        var(--gx-saia-color-purple--300) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      max-width: 500px;
    }
    .cols__left {
      padding: 160px 0;
      align-items: center;
    }
    .cols__right {
      display: flex;
      align-items: end;
    }
    @include max-width(desktop) {
      .cols__left {
        padding: 120px 0;
        align-items: center;
      }
    }
    @include max-width(small-desktop) {
      .cols__left {
        padding: 80px 0 40px 0;
      }
    }
    @include max-width(mobile) {
      .main-title {
        max-width: 300px;
      }
      .cols__left {
        padding: var(--gx-saia-section-padding--v) 0 0 0;
      }
    }
  }
}
