/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /*ATOMIC TOKENS*/
  /*colors*/
  --gx-saia-color-purple--yellow: #e1ae42;
  --gx-saia-color-purple--200: #985ae5;
  --gx-saia-color-purple--300: #8e55d6;
  --gx-saia-color-purple--900: #180f34;
  --gx-saia-color-gray--light: #f9f9f9;
  --gx-saia-color-black: #1f272b;
  --gx-saia-color-white: #fff;
  --gx-saia-color-overlay: rgba(0, 0, 0, 0.07);
  /*font family*/
  --gx-saia-font-family-texts: Rubik, Helvetica, Arial, sans-serif;
  --gx-saia-font-family-headings: Graphik;
  --gx-saia-font-size-base: 17px;
  --gx-saia-font-size-s: 14px;
  --gx-saia-font-size-m: 20px;
  --gx-saia-font-size-l: 26px;
  --gx-saia-font-size-xl: 46px;
  --gx-saia-font-size-xxl: 52px;
  --gx-saia-font-size-xxxl: 64px;
  --gx-saia-font-weight-headings: 600;
  --gx-saia-font-weight-texts: 300;
  --gx-saia-line-height--tight: 1.2em;
  --gx-saia-line-height--regular: 1.4em;
  --gx-saia-line-height--spaced: 1.6em;
  /*spacing*/
  --gx-saia-space-xs: 8px;
  --gx-saia-space-s: 16px;
  --gx-saia-space-m: 32px;
  --gx-saia-space-l: 64px;
  --gx-saia-space-xl: 128px;
  /*radius*/
  --gx-saia-radius--xs: 4px;
  --gx-saia-radius--s: 8px;
  --gx-saia-radius--m: 16px;
  --gx-saia-radius--l: 32px;
  /*SEMANTIC TOKENS*/
  --gx-saia-color-text: var(--gx-saia-color-black);
  --gx-saia-section-padding--v: var(--gx-saia-space-xl);
  --gx-saia-container-padding--h: var(--gx-saia-space-s);
  --gx-saia-color-over-purple: var(--gx-saia-color-white);
  --gx-saia-color-focus: var(--gx-saia-color-purple--yellow);
}

/*RESPONSIVE*/
/*Extra extra large (default)*/
/*Extra large*/
/*Large*/
/*Medium*/
@media only screen and (max-width: 767px) {
  :root {
    --gx-saia-font-size-base: 17px;
    --gx-saia-font-size-s: 14px;
    --gx-saia-font-size-m: 20px;
    --gx-saia-font-size-l: 26px;
    --gx-saia-font-size-xl: 46px;
    --gx-saia-font-size-xxl: 36px;
    --gx-saia-font-size-xxxl: 64px;
  }
}
/*Small*/
#saia {
  /*Large*/
  /*Medium*/
  /*Small*/
}
#saia .hide {
  display: none !important;
}
@media only screen and (max-width: 1199px) {
  #saia .hide--xl {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  #saia .hide--l {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  #saia .hide--m {
    display: none !important;
  }
}
@media only screen and (max-width: 575px) {
  #saia .hide--s {
    display: none !important;
  }
}
#saia .saia-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gx-saia-space-s);
  align-items: flex-start;
}
#saia .text-bigger {
  font-size: var(--gx-saia-font-size-m);
}
#saia .cols {
  display: flex;
  gap: var(--gx-saia-space-l);
}
#saia .cols__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
#saia .cols__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
#saia .cols--left-shorter .cols__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
#saia .cols--left-shorter .cols__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
#saia .text-color-light {
  color: var(--gx-saia-color-white);
}
#saia .text-color-dark {
  color: var(--gx-saia-color-black);
}
#saia .grid {
  display: grid;
  grid-gap: var(--gx-saia-space-m);
}
#saia .grid--2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#saia .grid--2x2 .item1 {
  grid-area: 1/1/2/2;
}
#saia .grid--2x2 .item2 {
  grid-area: 1/2/2/3;
}
#saia .grid--2x2 .item3 {
  grid-area: 2/1/3/2;
}
#saia .grid--2x2 .item4 {
  grid-area: 2/2/3/3;
}

body {
  font-size: var(--gx-saia-font-size-base) !important;
  color: var(--gx-saia-color-black) !important;
  font-family: var(--gx-saia-font-family-texts) !important;
  line-height: var(--gx-saia-line-height--spaced) !important;
  font-weight: var(--gx-saia-font-weight-texts) !important;
}

/**SCROLLBAR/
  /* width */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gx-saia-color-purple--200);
  outline: 1px solid var(--gx-saia-color-purple--900);
}

#saia {
  /*TITLES*/
  /*CONTAINER*/
  /*SECTION*/
  /*BUTTON*/
  /*SELECTION COLOR*/
  /*CARD*/
  /*RESPONSIVE*/
  /*Extra extra large (default)*/
  /*Extra large*/
  /*Large*/
  /*Medium*/
  /*Small*/
}
#saia h1,
#saia .h1,
#saia h2,
#saia .h2,
#saia h3,
#saia .h3,
#saia h4,
#saia .h4,
#saia h5,
#saia .h5,
#saia h6,
#saia .h5 {
  font-family: var(--gx-saia-font-family-headings);
  font-weight: var(--gx-saia-font-weight-headings);
  line-height: var(--gx-saia-line-height--tight);
}
#saia h1,
#saia .h1 {
  font-size: var(--gx-saia-font-size-xxxl);
}
#saia h2,
#saia .h2 {
  font-size: var(--gx-saia-font-size-xxl);
}
#saia h3,
#saia .h3 {
  font-size: var(--gx-saia-font-size-xl);
}
#saia .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 var(--gx-saia-container-padding--h);
}
#saia .section {
  background-color: var(--gx-saia-color-white);
  color: var(--gx-saia-color-text);
  padding: var(--gx-saia-section-padding--v) 0;
}
#saia .section--purple-200 {
  --gx-saia-color-text: var(--gx-saia-color-over-purple);
  background-color: var(--gx-saia-color-purple--200);
}
#saia .section--purple-300 {
  --gx-saia-color-text: var(--gx-saia-color-over-purple);
  background-color: var(--gx-saia-color-purple--300);
}
#saia .section--purple-900 {
  --gx-saia-color-text: var(--gx-saia-color-over-purple);
  background-color: var(--gx-saia-color-purple--900);
}
#saia .button {
  border: none;
  max-width: 250px;
  min-width: 150px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: inherit;
  font-family: var(--gx-saia-font-family-headings);
  background-color: var(--gx-saia-color-purple--200);
  color: var(--gx-saia-color-white);
  padding: var(--gx-saia-space-s) var(--gx-saia-space-m);
  display: flex;
  align-items: center;
}
#saia .button:hover {
  background-color: var(--gx-saia-color-purple--300);
}
#saia ::-moz-selection {
  /* Code for Firefox */
  background-color: var(--gx-saia-color-purple--200);
  color: var(--gx-saia-color-black);
}
#saia ::selection {
  background-color: var(--gx-saia-color-purple--200);
  color: var(--gx-saia-color-black);
}
#saia .card {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: var(--gx-saia-radius--m);
  padding: var(--gx-saia-space-m);
  color: var(--gx-saia-color-black);
}
#saia .card--purple-300 {
  background-color: var(--gx-saia-color-purple--300);
}
#saia .card__title {
  font-size: var(--gx-saia-font-size-l);
}
@media only screen and (max-width: 1199px) {
  #saia .container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 991px) {
  #saia .container {
    max-width: 720px;
  }
}
@media only screen and (max-width: 767px) {
  #saia .container {
    max-width: 540px;
  }
}
@media only screen and (max-width: 575px) {
  #saia .container {
    max-width: 100%;
  }
}

#saia {
  /*CORE STRENGTH*/
}
#saia #core-strength .card {
  min-height: 200px;
}

#saia .header {
  padding: var(--gx-saia-space-m) 0;
  /*BURGER*/
  /*RESPONSIVE*/
  /*Extra extra large (default)*/
  /*Extra large*/
  /*Large*/
  /*Medium*/
  /*Small*/
  /*Large and above*/
}
#saia .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gx-saia-space-m);
  flex-wrap: wrap;
}
#saia .header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#saia .header__nav.active {
  grid-template-rows: 1fr;
}
#saia .header__nav.active .header__list {
  animation-fill-mode: forwards;
  animation-name: navToggle;
  animation-duration: 300ms;
}
#saia .header__logo {
  width: 140px;
}
#saia .header__list {
  display: flex;
  align-items: center;
  gap: var(--gx-saia-space-m);
  transition: opacity 200ms;
}
#saia .header__list-item {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#saia .header__list-item--hovered .header__list-line {
  transform: translateX(0%);
}
#saia .header__list-item--animated .header__list-line {
  transform: translateX(105%);
}
#saia .header__list-item--no-transition .header__list-line {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#saia .header__list-line {
  transform: translateX(-105%);
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gx-saia-color-over-purple);
  position: absolute;
  bottom: 1px;
  transition: 0.25s transform;
}
#saia .header__list-link {
  text-decoration: none;
  color: inherit;
}
#saia .header__burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
}
#saia .header__burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: var(--gx-saia-color-over-purple);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#saia .header__burger-line:nth-child(1) {
  top: 0;
}
#saia .header__burger-line:nth-child(2), #saia .header__burger-line:nth-child(3) {
  top: 0.5rem;
}
#saia .header__burger-line:nth-child(4) {
  top: 1rem;
}
#saia .header__burger.active .header__burger-line:nth-child(1), #saia .header__burger.active .header__burger-line:nth-child(4) {
  top: 1.25rem;
  width: 0%;
  left: 50%;
}
#saia .header__burger.active .header__burger-line:nth-child(2) {
  transform: rotate(45deg);
}
#saia .header__burger.active .header__burger-line:nth-child(3) {
  transform: rotate(-45deg);
}
#saia .header .saia-wrapper {
  max-width: 640px;
  margin: 120px 0 128px 0;
}
#saia .header .saia-wrapper .button {
  margin-top: var(--gx-saia-space-s);
}
@keyframes navToggle {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  33% {
    opacity: 0;
    margin-top: var(--gx-saia-space-m);
  }
  66% {
    opacity: 0.5;
    margin-top: var(--gx-saia-space-m);
  }
  100% {
    opacity: 1;
    margin-top: var(--gx-saia-space-m);
  }
}
@media only screen and (max-width: 767px) {
  #saia .header__container {
    gap: 0;
  }
  #saia .header__nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
    overflow: hidden;
    width: 100%;
  }
  #saia .header__nav .header__list {
    overflow: hidden;
    flex-direction: column;
    opacity: 0;
    gap: var(--gx-saia-space-xs);
    align-items: start;
  }
  #saia .header__burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  #saia .header__list {
    opacity: 0;
    margin-top: 0;
  }
  #saia .header .saia-wrapper {
    margin: 60px 0 60px 0;
  }
  #saia .header .saia-wrapper .button {
    margin-top: var(--gx-saia-space-s);
  }
}
@media only screen and (max-width: 575px) {
  #saia .header {
    padding: var(--gx-saia-space-s) 0;
  }
  #saia .header__logo {
    width: 105px;
  }
}
@media only screen and (min-width: 768px) {
  #saia .header__list {
    margin-top: 0 !important;
  }
}

#saia {
  /*RESPONSIVE*/
  /*Extra extra large (default)*/
  /*Extra large*/
  /*Large*/
  /*Medium*/
  /*Small*/
}

/*# sourceMappingURL=styles.css.map */
